.input {
  font: inherit;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 10px;

  border-radius: 3px;
  width: 250px;
}

:focus {
  border: 1px solid rgb(5, 28, 45);
}
