@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

html {
  font-family: "Noto Sans", sans-serif;
  overflow-y: scroll;
}
body {
  margin: 0;
  overflow-y: scroll;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}
